.container {
    display: grid;
    grid-template-columns: 18vw 60vw 20vw;
    grid-template-rows: 16vh;
    width: 100%;
    outline: 0px solid;
    background: linear-gradient(to right, rgb(113, 75, 170), rgb(145, 142, 149));
    border-radius: 1vw;
    margin: 0%;
    padding: 0%;
}

.logobox {
    grid-column: 1;
    border-radius: 1vw;
    outline: 0px solid;
    margin: 1vw;
    overflow: hidden;
    background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)), 
    url("/Users/ashfi/Desktop/react/react-components/src/assets/header1logo.jpg") no-repeat center/cover;

}
.logobox img {
    width: 100%;
    height: 100%;
    object-fit:contain;

}

.linkbox {
    grid-column: 2;
    grid-row: 1;
   outline: 0px solid;
   margin: 1vw;
   padding-top: 5vh;

}

.link {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    outline: 0px solid;
    border-radius: 2vw;
    margin: 1vw;
    background-color: rgb(155, 143, 143);
    font-size: medium;
    color: black;
    font-family:'sans-serif';
    font-size: large;
    font-weight: bold;
    cursor:pointer;
    text-decoration: none;
    border: none;
   
}
.link:hover {
    background-color: rgb(83, 26, 122);
}

.buttonbox {
   grid-column: 3;
    outline: 0px solid;
    margin: 1vw;
    padding-top: 3.5vh;
    

}

.button {
    width: 7vw;
    height: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 2vw;
    font-size: large ;
    font-family: "sans-serif";
    font-weight: bold;
}

.button:hover{
    background-color: rgb(86, 42, 106);
}

.dropdowncontainer {
    grid-column: 2;
    grid-row: 1;

}

.dropdownbutton {

}

.dropdowncontent {
    display: none;
}